<!DOCTYPE html>
<html>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <title>Dharmaraj - Face Detection</title>
<style>
h2
{
padding-bottom:20px;
font-weight: 600;
font-size: 3.2em
}
</style>
  <body>
    <div class="container"><center><h2>Face Detection</h2></center>
      <div class="col-lg-offset-2 col-lg-8">
        <center><form  class="form-inline" action = "/stop" method = "post" enctype="multipart/form-data">          
          <input type = "submit" class="btn btn-danger btn-md btn-block" value="Stop">
             </form></center>
                <center><form  class="form-inline" action = "/start" method = "post" enctype="multipart/form-data">          
          <input type = "submit" class="btn btn-success btn-md btn-block" value="Start">
             </form></center><br></div>
                    <div class="col-lg-offset-2 col-lg-8">
         <img src="{{ url_for('video_capture') }}" width="100%">
        </div></div>
    </body>
</html>